/*
Copyright 2017 Los Alamos National Laboratory 

Redistribution and use in source and binary forms, with or without 
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this 
   list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice, 
   this list of conditions and the following disclaimer in the documentation 
   and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its contributors 
   may be used to endorse or promote products derived from this software 
   without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE 
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE 
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL 
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR 
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER 
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, 
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE 
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

This is based on the example of the Nutrient Explorer, copyright 2012, Kai
Chang, and is licensed appropriately.
*/

#picked,
#selection {
	box-sizing: border-box;
	margin: 10px;
	background-color: rgb(124, 196, 233);
	padding: 10px;
	box-shadow: 2px 2px 3px dimgray;
}
#picked {
	float: left;
	margin-left: 50px;
	width: 40%;
}
#selection {
	margin-right: 50px;
	float: right;
	width: 50%
}

#queryButton {
	margin: 5px;
	padding: 4px;
	font-size: 16px;
	color: white;
	background-color: rgb(120, 219, 185);
	border: 1px solid rgb(98, 193, 160);
	border-bottom: 3px solid rgb(98, 193, 160);
}
#queryButton:hover {
	background-color: rgb(98, 193, 160);
}
#queryButton:active {
	transform: translateY(2px);
}
#queryButton:disabled {
	border: 1px solid rgb(154, 186, 175);
	background-color: rgb(154, 186, 175);
	transform: initial;
}

#threshold {
	padding: 3px;
	width: 100px;
}

.pickedView {
	display: inline-block;
	background-color: rgb(98, 193, 160);
	box-shadow: 2px 2px 3px dimgray;
	padding: 5px;
	margin: 5px;
}
.pickedView:hover,
.pickedView:hover[mode="picked"] {
	background-color: rgb(206, 111, 111);
	cursor: pointer;
}
.pickedView[mode="picked"] {
	background-color: rgb(120, 219, 185);
}
.pickedView[mode="preview"] {
	background-color: rgb(98, 193, 160);
}
